body {
  overflow: hidden;
  background-color: #333;
  color: #111;
}
body, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "roboto";
}
div.letters {
  position: absolute;
  overflow: hidden;
  text-align: center;
  font-size: 48px;
  line-height: 56px;
  width: 56px;
  height: 56px;
  color: #fbbc05;
  cursor: move;
}
#id1, #id12 {
  color: #4285f4;
}
#id2, #id14 {
  color: #ea4335;
}
#id13 {
  color: #34a853;
}